<% provide(:title, @user.name) %>
<div class="row span6 offset3">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= @user.name %>
        <%= f.label :email %>
        <%= @user.email%>
        <%= f.label :profile%>
        <%= @user.profile%>
        <label>Current Team</label>
        <b><%=link_to @user.team.name, team_path(@user.team) %></b>
    <% end %>
  </div>
  <div class="span4">
    <h3>Skills</h3>
    <table class="table table-striped table-condensed">
      <thead>
      <th>Skills</th>
      <th>Experiences</th>
      </thead>
      <% @skills.each do |skill| %>
          <tbody>
          <tr><td><b><%= link_to skill.name, skill_path(skill) %></b></td>
            <td><b><%= UserSkill.find_by_skill_id(skill.id).level%> "Years"</b></td>
          </tr>
          </tbody>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <% @projects.each do |project| %>
        <p>Having the Role as
          <i><%= (Position.find_by (UserPositionInProject.find_by project.id).position_id).name %></i>
        <b>onto</b></p>
        <table class="table table-striped table-condensed">
          <thead>
          <th>Projects</th>
          <th>Abbreviation</th>
          <th>Start Date</th>
          <th>End Date</th>
          </thead>
          <tbody>
          <tr>
            <td><b><%= link_to project.name,project_path(project)%></b></td>
            <td><b><%= project.abbreviation %></b></td>
            <td><b><%= project.startdate.strftime('%d/%m/%Y') %></b></td>
            <td><b><%= project.enddate.strftime('%d/%m/%Y') %></b></td>
          </tr>
          </tbody>
    <% end %>
    </table>
  </div>
</div>